<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>



<form action="/tasks" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name" value="<%= @task.name %>">

  <label for="status">Status: </label>
  <input type="text" name="task[status]" id="status" value="<%= @task.status %>">

  <input type="submit">
</form>
